// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.question {
  font-size: 15px;
  font-weight: lighter;
}

.answer {
  border-color: rgba(200, 200, 200, 0.9);
  font-size: 17px;
}
